<div class="custom-form-card">
    <form class="custom-form-grid md:grid-cols-12">
        <!-- title -->
        <div class="custom-form-title md:col-span-12">
            <h4>
                Titulo de la seccion
            </h4>
        </div>

        <!-- code -->
        @if (isCodeRequired()) {
            <div class="custom-form-field md:col-span-12">
                <label
                    appLabel
                    for="code"
                    label="Code"
                    [field]="codeField">
                </label>

                <input pInputText id="code" [formField]="codeField">

                <small [appErrorMessage]="$any(codeField)"></small>
            </div>
        }
        <!-- name -->
        <div class="custom-form-field md:col-span-12">
            <label
                appLabel
                for="shortName"
                label="shortName"
                [field]="shortNameField">
            </label>

            <input pInputText id="shortName" [formField]="shortNameField">

            <small [appErrorMessage]="$any(shortNameField)"></small>
        </div>
    </form>
</div>
